nav.site-navigation
  .logo
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    li
      a(data-scroll, href='learn.pug') Learn
    li
      a(data-scroll, href='build.pug') Build
    li
      a(data-scroll, href='explore.pug') Explore
    // li
    //   a(data-scroll, href='#') Contact
    