mixin learn-cards(icon)
  .card.mb-2
    .card-body
      .row.align-items-center
        .col-sm-2.p-2.pl-3.text-center
          img.img-fluid(src=icon)
        .col-sm-10.text-justify
          block

mixin mentor(image, name, position, company)
  .text-center
    img.img-fluid.img-150(src=image)
    h4.mt-3= name
    p.m-0= position
    p= company

mixin ecosystem(image, title)
  img.img-fluid(src=image)
  h4.mt-3.text-center= title
  p.text-justify
    block

mixin fees-item(image, title, link)
  .fees-item
    //- img.img-fluid(src=image)
    .fees
      span.badge.badge-success INR
      h3= image
    h4.mt-2= title 
    div
      p
        block
      if(link=="#")
        button.button.btn.btn-secondary(disabled='disabled') Opening Soon
      else
        a.button.btn.btn-success(href=link target="_blank") Enroll Now