@import "./mixins";
#home-section {
  &:before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 9%, rgba(255, 255, 255, 0) 100%);
    content: '';
    display: block;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  #video-slider {
    height: 90vh;
    #info-container {
      position: absolute;
      color: white;
      z-index: 10;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        line-height: 2;
        font-size: .9rem;
      }
    }
  }
}

.button {
  border-radius: 0 !important;
  text-transform: uppercase;
  padding: .75rem 1.2rem;
}

.card {
  border-radius: 0 !important;
  .card-body {
    padding: .5rem 1rem;
  }
}

.slick-item {
  padding: 1rem;
}

.fees-item {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.scene {
  height: 500px;
  &.loading {
    // &::before {
    //   content: '';
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   background: rgba(255, 255, 255, 0.4);
    //   backdrop-filter: blur(2px);
    //   z-index: 100;
    // }
    &::after {
      content: '';
      width: 3rem;
      height: 3rem;
      vertical-align: text-bottom;
      border: 5px solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      animation: spinner-border .75s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -.75rem;
      margin-top: -.75rem;
      color: #3ad231 !important;
      z-index: 101;
    }
    @keyframes spinner-border {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

#learning {
  .button {
    width: 80%;
    margin-bottom: .5rem;
    @include my_bp(md) {
      width: auto;
    }
  }
}