#slider-section {
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(33, 33, 33, .7);
    display: block;
  }
  h2 {
    color: white;
    font-size: 4rem;
    z-index: 10;
    position: absolute;
  }
}

li {
  font-size: .8rem;
  color: #949494;
  text-align: justify;
}