doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/learn.scss")
  body

    include parts/menu.pug

    section#slider-section(style="background-image: url('./img/build.png');")
      h2 Build

    section.section-content
      .container
        .row
          .col-sm-12.text-justify
            h3.mb-4 Create Something Beautiful
            p The best way to learn Game Development is to learn by creating something beautiful from scratch. During the length of the courses, you get to work on production ready projects right from ground up. This will help you become a Game Developer who is ready to take on the industry.
            p Take a peek into what you will be building inside the course.
    
    section.section-content.alternative
      .container
        .row
          .col-sm-12
            h3.text-center.mb-4 Level 1 : Game Development Foundation
          .col-sm-4
            img.img-fluid(src="./img/image1.png")
          .col-sm-8.text-justify
            p Build with us an amazing 2D RPG from scratch! Make this beautiful game where you will play as Ruby, a fox! Ruby’s town is in peril after their friendly robots become broken! It's her quest to fix them! Join us to build this beautiful game and help her save the town!
            p During the entirety of this project, you will learn to:
            ul
              li Build beautiful 2D levels with Tilemaps
              li Animate and give life to Ruby and other characters
              li Let Ruby traverse through the 2D levels
              li Help Ruby defend her town by teaching her to fight the robots
              li Add beautiful audio to the levels
              li Ship the final game

    section.section-content
      .container
        .row
          .col-sm-12
            h3.text-center.mb-4 Level 2 : XR Development (Virtual Reality)
          .col-sm-8.text-justify
            p In this course, you’ll learn VR development skills that will enable you to create high-performance applications for platforms like Samsung Gear VR, Google Daydream, and Oculus Go. You'll start with the Unity project files for an incomplete VR app then progressively add functionality for gaze-based triggers, controller tracking, locomotion, object manipulation, and UI implementation.
            p Topics covered:
            ul
              li VR development SDKs and frameworks
              li Positional audio
              li Gaze-based triggers
              li The Unity XR APIs
              li Mobile VR controller tracking
              li Raycasting and hit detection for locomotion and interaction
          .col-sm-4
            img.img-fluid(src="./img/image2.png")

    section.section-content.alternative
      .container
        .row
          .col-sm-12
            h3.text-center.mb-4 Level 2 : XR Development (Augmented Reality)
          .col-sm-4
            img.img-fluid(src="./img/image3.png")
          .col-sm-8.text-justify
            p In this project you will learn the basics of integrating Vuforia AR with an Unity project. You will be building and deploying a scene for mobile devices in Augmented reality.
            p Topics covered:
            ul
              li Vuforia
              li Different types of tracking
              li Setting up markers
              li Understanding best practices with AR Available tools

    section.section-content
      .container
        .row
          .col-sm-12
            h2.text-center Join and become a Unity Certified Developer
            p.text-center Step into the world of Games, Virtual Reality and Augmented Reality
    
            .mt-4.text-center
              a.button.btn.btn-success.mr-2(href="index.pug#fees") Join Now


    include parts/footer.pug

    script(src="./js/index.js")