doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/learn.scss")
  body

    include parts/menu.pug

    section#slider-section(style="background-image: url('./img/explore.jpg');")
      h2 Explore

    section.section-content
      .container
        .row
          .col-sm-12.text-justify
            h3.mb-4 Unity 3D Game Engine
            p Unity 3D is the world’s most widely used real-time 3D development platform, giving developers around the world the tools to create rich, interactive 2D, 3D, VR and AR experiences.
            p Games and experiences made with Unity have reached ~3 billion devices worldwide and were installed more than 28 billion times in the last 12 months. Over 60% of the mobile games are developed in Unity. Unity’s renowned flexibility gives developers the power to target and optimize their creations for 25+ platforms.
            p Let's take a look at what is possible with the Unity 3D platform and why we believe it's the best in class.
    
        .row.mt-5
          .col-sm-6
            iframe.img-fluid(width='800' height='600' src='https://www.youtube.com/embed/IY8FJxS4Lbs' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' style="height: 300px")
          .col-sm-6
            iframe.img-fluid(width='800' height='600' src='https://www.youtube.com/embed/tCv0hJGBo_I' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' style="height: 300px")
    
    section.section-content.alternative
      .container
        .row
          .col-sm-12
            h3.mb-4 Jobs & Internships
            p.text-justify Apart from developers and artists, businesses also play a crucial role in this expanding ecosystem. Many companies and startups are now embracing XR tech to simplify and enhance many of their traditional workflows and processes. You will get access to internships and interviews with a lot of companies who are ready to hire XR Developers.

        .row
          .col-sm-3
            .card
              .card-body
                img.img-fluid(src="./img/zebu.png")
          .col-sm-3
            .card
              .card-body
                img.img-fluid(src="./img/tilt.png")
          .col-sm-3
            .card
              .card-body
                img.img-fluid(src="./img/iboson.png")
          .col-sm-3
            .card.h-100
              .card-body
                .h-100.d-flex.justify-content-center.align-items-center
                  h4 And many more..

    section.section-content
      .container
        .row
          .col-sm-12
            h2.text-center Join and become a Unity Certified Developer
            p.text-center Step into the world of Games, Virtual Reality and Augmented Reality
    
            .mt-4.text-center
              a.button.btn.btn-success.mr-2(href="index.pug#fees") Join Now

    include parts/footer.pug

    script(src="./js/index.js")