doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  link(rel="stylesheet", href="./css/slick.scss")
  link(rel="stylesheet", href="./css/slick-theme.scss")
  body

    //- include parts/menu.pug
    include parts/mixins.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#home-section
      #video-slider
        #ytbg(data-youtube='https://www.youtube.com/watch?v=RqG7FdYJGpI')

        .container.h-100
          .row.align-items-center.h-100
            .col-lg-6
              #info-container
                h2 BECOME AN AR/VR ENGINEER
                p.text-center.mt-3 ICT Academy along with KSUM and Unity Technologies is providing an XR Learning Path for professionals and students. The Learning Path consists of 2 courses, a Game Development Foundation Course and an XR Development Course. The course bundle will include the official Unity Courseware along with the Unity Associate Certification Exam.
                h4.text-center Next batch start on October 3, 2020
                .mt-3
                  a.button.btn.btn-success.mr-2(href="#fees") Enroll Now
                  a.button.btn.btn-outline-success(href="learn.pug") Currilulum
                .mt-4
                  p.text-center Course Powered by
                  img.img-fluid(src="./img/powered.svg")

    section#learning.section-content.alternative
      .container
        .row
          .col-sm-12.text-center.mb-4
            h3 Learning Path
            p Be First To Get Latest Updates From Tecniqa
        .row
          .col-sm-6
            +learn-cards("./img/Icon3.svg")
              h4 Introduction to Unity, C# and Gameplay Programming
              p.m-0 Dive into the world of Game creation using Unity 3D and learn to design levels and start writing C# scripts.
            +learn-cards("./img/Icon2.svg")
              h4 Develop Your First Game
              p.m-0 Design and develop a complete game with beautiful art and functionalities
            +learn-cards("./img/Icon1.svg")
              h4 Unity Developer Certification
              p.m-0 Get a chance to be an industry ready Unity Developer as this course prepares you to take on the Unity Certified Associate Exam
            +learn-cards("./img/Icon.svg")
              h4 Foundations of Virtual Reality and Augmented Reality
              p.m-0 Understand and implement Real-time Rendering and build high quality VR and AR experiences
            .mt-4.text-center
              a.button.btn.btn-success.mr-2(href="learn.pug") Course Structure
              a.button.btn.btn-success.mr-2(href="build.pug") Projects You Build
              
          .col-sm-6.h-100
            .scene

    section#mentors.section-content
      .container
        .row
          .col-sm-12.text-center.mb-4
            h3 Course Mentors
            p Learn from the best

        .row
          .col-lg-3.col-sm-6
            +mentor("./img/jainaresh.png", "Jainaressh B C", "Head of Education and Sales", "Unity Technologies (Indian Subcontinent)")
          .col-lg-3.col-sm-6
            +mentor("./img/arvind.png", "Arvind Neelakantan", "Head of Technology and Evangelization", "Unity Technologies (Indian Subcontinent)")
          .col-lg-3.col-sm-6
            +mentor("./img/abhiram.png", "Abhiram A", "Technical Officer - XR", "Kerala Startup Mission")
          .col-lg-3.col-sm-6
            +mentor("./img/gokul.png", "Gokul", "Lead Instructor - XR Learning Path", "ICT Academy")

    section#ecosystem.section-content.alternative
      .container
        .row
          .col-sm-12.text-center.mb-4
            h3 Be Part of the XR Ecosystem
            p A course is incomplete without a supportive ecosystem surrounding it. Find out about the facts and perks that come with the course

        #carousal-ecosystem
          .slick-item
            +ecosystem("./img/xrup.png", "Demand for XR engineers increased 1400%")
              | Demand and consumption of XR powered solutions are rising on a daily basis. We aim to bridge this gap and create an industry ready workforce.
          .slick-item
            +ecosystem("./img/flab.jpg", "Future Technologies Lab")
              | Get access to state of the art infrastructure and a chance to try out a plethora of latest XR gadgets.
          .slick-item
            +ecosystem("./img/uniteindia.png", "Unite India")
              | Get a chance to be part of the biggest Unity conference in the Indian Subcontinent
          .slick-item
            +ecosystem("./img/xrcollective.png", "XR Collective")
              | A thriving XR community with technical and non-technical stakeholders
          .slick-item
            +ecosystem("./img/uug.png", "Unity User Group")
              | A platform for developers and artists to showcase their creations and talents

        .mt-4.text-center
          a.button.btn.btn-success.mr-2(href="explore.pug") Know More
        
    section#fees.section-content.alternative-light
      .container
        .row
          .col-sm-12.text-center.mb-4
            h3 Course Fee
            //- p Be First To Get Latest Updates From Tecniqa
            h4.text-center Next batch start on October 3, 2020
        
        .row
          .col-md-3
            .card.h-100
              .card-body.d-flex.flex-column.align-items-center.justify-content-center.text-center
                h4 Game Development
                p.mt-3 Learn the basics of Game Development as you create a complete game from ground up.
          //- .col-md-3.py-3
            //- +fees-item("14,840", "Course", "#")
            //-   | All the course content + Mentoring +Projects + Course Completion Certification
          .col-md-3.py-3
            +fees-item("17,990", "Unity Associate Certification Bundle", "https://pages.razorpay.com/unitycourse")
              | Everything included in the Course along with the Unity Certified Associate exam pass
          .col-md-3.py-3
            +fees-item("10,500", "Unity Certification Only", "#")
              | No course content or mentoring included. A pass to write the Unity Certified Associate exam alone

        .row.mt-5
          .col-md-3
            .card.h-100
              .card-body.d-flex.flex-column.align-items-center.justify-content-center.text-center
                h4 XR Course
                p.mt-3 Learn about the fundamentals of Real-time technologies and build XR high quality projects
          .col-md-3.py-3
            +fees-item("6,500", "Unity Certified", "#")
              | Enroll here if you have completed the Game development course and became Unity Certified
          .col-md-3.py-3
            +fees-item("12,500", "Lateral Entry", "#")
              | Enroll here if you are directly enrolling to the XR Development course without completing Game Development course

    section.section-content.alternative
      .container
        .row
          .col-sm-12
            h2.mb-4.text-center Have Questions? Get in touch !
            h4.text-center Write to us at abhiram@startupmission.in

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/youtube.js")
    script(src="./js/home.js")
    script(src="./js/threed.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
