doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/learn.scss")
  body

    include parts/menu.pug

    section#slider-section(style="background-image: url('./img/learn.jpg');")
      h2 Learn

    section.section-content
      .container
        .row
          .col-sm-12.text-justify
            h3 Course Structure
            p The XR Learning Path is a 2 course bundle, each of which is a 3 month long course. The core objective of the course would be to prepare students for the new and exciting ecosystem of the Immersive Technologies. This would include exposing them to the media, the hardware and software and imparting them with transdisciplinary skills like Technical art, Design and Programming.
            p The Students will learn how to create a simple interactive game, an engaging Augmented Reality application and understand the underlying concepts of Virtual reality and showcase an demonstrative capability to handle any real time application.

    section.section-content.alternative
      .container
        .row
          .col-sm-12
            h3 Learning Journey
            p The learning path begins right from the ground up. It will help you to be an industry ready XR Engineer, irrespective of their experience in Design or Coding. During the duration of the course, you will go through multiple stages right from ground zero to advanced stages. You will be learning XR, using one of the world's leading Game Engines - Unity 3D - during the entirety of the course.

            h4.text-center Let's take a look into where the course will take you to!

        .row.mt-3
          .col-sm-6
            .card.h-100
              .card-body.pr-5
                h4.text-center.mb-3 Level 1: Gaming
                ol.text-justify
                  li Dive into the world of Game creation using Unity 3D and learn to design levels.
                  li Code helps to add behaviors and interactions to the Game. Dig into C# and start writing scripts.
                  li Add mechanics and functionalities to the Game by learning about C# Gameplay scripting in Unity 3D.
          .col-sm-6
            .card.h-100
              .card-body.pr-5
                h4.text-center.mb-3 Level 2: XR
                ol.text-justify
                  li Understand and implement Real Time Rendering using Unity 3D.
                  li Design and Build Realtime Virtual Reality applications for Standalone VR Headsets.
                  li Design and Build Handheld Augmented Reality applications.

    section.section-content
      .container
        .row
          .col-sm-12.text-center
            h3 Detailed Course Curriculum
        .row.mt-5
          .col-sm-6
            h4.text-center Game Development Foundation
            h4.text-center.mb-4 L1 - 3 months
            ol
              li Introduction to unity
                ul
                  li Prepare students to Understand Game engine as tool for development
                  li Explore Real Time Development Process
                  li Understand the fundamentals of Game Engine

              li Introduction to C#
                ul
                  li Understand problem solving and define solutions
                  li Develop C# code for Problem solving
                  li Examine working with Windows Programming

              li Introduction to Unity Gameplay Programming
                ul
                  li Understand basic gameplay and game mechanics
                  li Learn Design patterns for Games Programming
                  li Build and execute game sub systems like UI, Score Systems, etc

          .col-sm-6
            h4.text-center Introduction to XR Development
            h4.text-center.mb-4 L2 - 3 Months
            ol
              li Introduction to Realtime Technologies
                ul
                  li Understand Realtime technologies and its application
                  li Observe and define solutions stacks 
                  li Introduction to Real Time Rendering

              li Introduction to XR application Development
                ul
                  li Understand and design Virtual Reality app ideas
                  li Understand and design Augmented Reality app ideas
                  li Understand and design WebGL and Web XR app ideas

              li Foundations of AR Development
                ul
                  li Identify various AR construct techniques using Vuforia
                  li Design and build an Handheld AR application

    section.section-content.alternative
      .container
        .row
          .col-sm-12
            h2.text-center Join and become a Unity Certified Developer
            p.text-center Step into the world of Games, Virtual Reality and Augmented Reality
    
            .mt-4.text-center
              a.button.btn.btn-success.mr-2(href="index.pug#fees") Join Now

    include parts/footer.pug

    script(src="./js/index.js")